/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 30px;
}
nav a {
  padding: 40px 0 10px 0;
  text-decoration: none;
  margin-left: 150px;
  width: 400px;
  text-align: center;
  font-size: 1.3rem;
  display: inline-block;
  border-bottom: 4px solid rgb(12, 12, 12);
  color: #0c0c0c;
  border-radius: 4px;
}

nav a:hover {
  border-bottom: 4px solid rgb(160, 160, 160);
}
nav a:active {
  /* background-color: black; */
  border-bottom: 4px solid rgb(202, 19, 2);
}
