.message {
  text-align: center;
}
label {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.clear {
  color: rgb(255, 255, 255);
  background-color: rgb(21, 21, 21);
  margin-bottom: 12px;
  border: none;
  padding: 10px 45px;
  font-size: 1rem;
  margin-left: 530px;
}
.clear:hover {
  color: white;
  background-color: rgb(75, 75, 75);
}
